<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<div class="creare-lista-proprie">
    <h2> Creare lista proprie</h2>
    <form [formGroup]="numeListaSpecifica">
        <mat-form-field>
            <mat-label>Nume lista</mat-label>
            <input matInput [formControl]="nume" />
        </mat-form-field>
    </form>

    <div *ngFor="let form of formularDinamic; let i = index" class="camp">
        <form [formGroup]="form" class="camp">
            <div>
                <!-- <mat-label>Nume coloana {{i}} </mat-label> -->
                <input formControlName="numeCamp" placeholder="Coloana {{i}}" class="input-nume" />
            </div>
            <!-- <button type="button" (click)="togleCamp(i)">{{optiune}}</button> -->
            <button type="button" (click)="stergeCamp(i)" class="button-3d">Sterge</button>
        </form>
    </div>
    <form [formGroup]="formOkKo" class="camp">
        <div>
            <!-- <mat-label>Nume coloana {{i}} </mat-label> -->
            <input formControlName="campOk" placeholder="Valoare camp Ok" class="input-nume" />
        </div>
        <div>
            <!-- <mat-label>Nume coloana {{i}} </mat-label> -->
            <input formControlName="campKo" placeholder="Valoare camp Ko" class="input-nume" />
        </div>
    </form>
    <p>Campurile Ok si Ko vor fi folosite pentru a defini valori de tipul "Gasit"/"Negasit" din lista de cumparaturi.
    </p>

    <span *ngIf="!numeListaSpecifica.valid || !formularDinamic[0].valid" class="allert">Numele si cel putin un camp
        trebuiesc alimentate pentru a putea crea o lista.</span>
    <div class="butoane-jos">

        <button type="button" (click)="adaugaCamp()" class="button-3d">Adaugare camp</button>
        <button type="button" (click)="creareListNoua()" [className]="" class=""
            [class.button-3d]="numeListaSpecifica.valid || formularDinamic[0].valid"
            [class.button-3d-disabled]="!numeListaSpecifica.valid || !formularDinamic[0].valid"
            [disabled]="!numeListaSpecifica.valid || !formularDinamic[0].valid">
            Creaza lista
        </button>
    </div>
</div>