<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<div class="menu">
  <div class="buton-menu">
    <button class=" button-3d " routerLink="/adaugelement">Adaug </button>
  </div>
  <div class="buton-menu">
    <div *ngIf="isFixed">
      <button class=" button-3d" (click)="scoateFiltre()">Elimina Filtre</button>
    </div>
    <div *ngIf="!isFixed">
      <button class=" button-3d" (click)="adaugaFiltre()">Filtre</button>
    </div>
  </div>
</div>

<div *ngIf="listaComenziSortata">
  <table mat-table [dataSource]="listaComenziSortata" matSort (matSortChange)="announceSortChange($event)"
    class="mat-elevation-z8">

    <ng-container matColumnDef="nume">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number" class="label-class">
        Nume
      </th>
      <td mat-cell *matCellDef="let element">
        <button (click)="veziDetali(element.id)" class="noButton">{{ element.nume }}</button>
      </td>
    </ng-container>

    <ng-container matColumnDef="cantitate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name" class="label-class">
        Cantitate
      </th>
      <td mat-cell *matCellDef="let element">
        <button (click)="veziDetali(element.id)" class="noButton">{{ element.cantitate }}</button>
      </td>
    </ng-container>

    <ng-container matColumnDef="unitateMasura">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by weight" class="label-class">
        UM
      </th>
      <td mat-cell *matCellDef="let element">
        <button (click)="veziDetali(element.id)" class="noButton">{{ element.unitateMasura }}</button>
      </td>
    </ng-container>

    <ng-container matColumnDef="magazin">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by symbol" class="label-class">
        Magazin
      </th>
      <td mat-cell *matCellDef="let element">
        <button (click)="veziDetali(element.id)" class="noButton">{{ element.magazin }}</button>
      </td>
    </ng-container>

    <ng-container matColumnDef="gata">
      <th mat-header-cell *matHeaderCellDef class="label-class">Gata</th>
      <td mat-cell *matCellDef="let element">
        <button (click)="modificaStare(element.id)" class="button-3d" [class.button-gasit]="element.gata"
          [class.button-negasit]="!element.gata">
          <span *ngIf="element.gata"> Gasit</span>
          <span *ngIf="!element.gata"> Negasit </span>
        </button>
      </td>
    </ng-container>
    <ng-container matColumnDef="sterge">
      <th mat-header-cell *matHeaderCellDef class="label-class">Sterge</th>
      <td mat-cell *matCellDef="let element">
        <button (click)="sterge(element.id)" class="delete-row-button">🗑️</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="coloane"></tr>
    <tr mat-row *matRowDef="let row; columns: coloane"></tr>
  </table>
</div>