<div>
    <div>
        <mat-form-field>
            <mat-label>Nume</mat-label>
            <mat-select [formControl]="nume" multiple>
                @for (nume of numeLista; track nume) {
                <mat-option [value]="nume">{{nume}}</mat-option>
                }
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Magazin</mat-label>
            <mat-select [formControl]="magazin" multiple>
                @for (magazin of magazinLista; track magazin) {
                <mat-option [value]="magazin">{{magazin}}</mat-option>
                }
            </mat-select>
        </mat-form-field>
    </div>
    <div>
        <button (click)="aplicaFiltre()"> Aplica filtre</button>
    </div>
</div>