.fereastra-filtre{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
}
.filtre{
    display: flex;
    flex-direction: column;
    min-width: 75%;
    margin-left: 0.5rem;
}
.filtre-button{
    margin-right: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}