<div>
    <h2>Adauga cumparaturi</h2>
    <form [formGroup]="myForm" (ngSubmit)="adaugInLista()" class="ecran">
        <div *ngFor="let key of objectKeys(myForm.controls)">
            <label>{{key}}</label>
            <input type="text" [formControlName]="key">
        </div>
        <div class="butonAdd">
            <button type="submit" class="center">Adauga in lista</button>
            <!-- <button type="submit" [disabled]="!formularComanda.valid" class="center">Adauga in lista</button> -->
        </div>
    </form>
</div>