table th{
  width: 100%;
  background-color: #555555;
  color: white;
  background-color: #215a8d;
}
tr:nth-child(odd){
  background-color: aqua;
  background-color: #f9f9f9;
  background-color: #ffffff;
  background-color: #e3f2fd;
  border: auto;
}
tr:nth-child(even){
  background-color: aqua;
  background-color: #f9f9f9;
  background-color: #eaeaea;
  background-color: #ffffff;
  border: auto;
}
th.mat-sort-header-sorted {
  color: black;
}
button{
  height: 2rem;
  width: 100%;
}
.button-gasit{
  background-color: #81b29a;
  background-color: #4caf50;
  font-size: 0.8rem;
}
.button-negasit{
  background-color: #e07a5f;
  background-color: #f44336;
  font-size: 0.8rem;
}

.button-close{
  background-color: red;
  background-color: #ff5da8;
}
.noButton{
  background-color: inherit;
  border:none;
}

.button-close:hover {
  height: 110%;
}


.menu{
  display: flex;
  flex-direction: row;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  margin-left: 0.5rem;
}

.menu-no-Button {
  background-color: inherit;
  margin-right:  1.3rem ;
  font-weight: 800;
  color: black;
}
.buton-menu{
  margin-right: 1.3rem;
}
.delete-row-button {
  background-color: #cc5332; /* Soft Red */
  color: white;
  border: none;
  padding: 0.5rem 1rem; /* Comfortable padding */
  font-size: 0.875rem; /* Slightly smaller font size */
  border-radius: 0.5rem; /* Rounded corners */
  cursor: pointer;
  transition: background-color 0.3s, transform 0.1s; /* Smooth transitions */
  height: 2rem;
}

.delete-row-button:hover {
  background-color: #c05649; /* Slightly darker red on hover */
}

.delete-row-button:active {
  transform: translateY(2px); /* Subtle "pressed" effect */
}
