table {
    width: 100%;
  }
  
  th.mat-sort-header-sorted {
    color: black;
  }
  button{
    height: 2rem;
    width: 100%;
  }
  .button-gasit{
    background-color: green;
  }
  .button-negasit{
    background-color: violet;
  }
  
  .button-close{
    background-color: red;
  }
  .noButton{
    background-color: inherit;
    border:none;
  }
  /* .close {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
  } */
  .button-close:hover {
    height: 110%;
  }
  /* .close:before, .close:after {
    position: absolute; 
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
  } */
  /* .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  } */
  tr:nth-child(even){
    background-color: aqua;
    border: auto;
  }
  
  