<button mat-button [matMenuTriggerFor]="menu" class="menu">Menu</button>
<mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/bunvenit">Pagina start</button>
    <button mat-menu-item routerLink="/listacumparaturi">Lista Cumparaturi</button>
    <button mat-menu-item routerLink="/crearelista">Creare lista proprie</button>
    <button mat-menu-item>Vizualizare liste create</button>
    <button mat-menu-item routerLink="/arhiva">Arhiva</button>
    <button mat-menu-item>Despre</button>
    <button mat-menu-item>Contact</button>
</mat-menu>