<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<div class="menu-locatie">
    <!-- <button mat-button [matMenuTriggerFor]="menu" class="menu button-3d menu-transparent">Menu</button> -->
    <button mat-icon-button [matMenuTriggerFor]="menu" class="menu  mat-icon-button"
        aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu" [class]='"menu-transparent"'>
        <button mat-menu-item class="menu-item button-3d" routerLink="/bunvenit">Pagina start</button>
        <button mat-menu-item class="menu-item button-3d" routerLink="/listacumparaturi">Lista Cumparaturi</button>
        <button mat-menu-item class="menu-item button-3d" routerLink="/crearelista">Creare lista proprie</button>
        <button mat-menu-item class="menu-item button-3d" routerLink="/vizualizareListeParticulare">Vizualizare liste
            create</button>
        <button mat-menu-item class="menu-item button-3d" routerLink="/arhiva">Arhiva</button>
        <button mat-menu-item class="menu-item button-3d" routerLink="/despre">Despre</button>
        <button mat-menu-item class="menu-item button-3d" routerLink="/contact">Contact</button>
    </mat-menu>
</div>