<div class="bun-venit">
    <!-- <button mat-menu-item routerLink="/bunvenit">Pagina start</button> -->
    <button class=" button-3d" routerLink="/listacumparaturi">Lista Cumparaturi</button>
    <button class=" button-3d" routerLink="/crearelista">Creare lista proprie</button>
    <button class=" button-3d" routerLink="/vizualizareListeParticulare">Vizualizare liste create</button>
    <button class=" button-3d" routerLink="/arhiva">Arhiva</button>
    <button class=" button-3d" routerLink="/despre">Despre</button>
    <button class=" button-3d">Contact</button>
</div>