<button mat-button [matMenuTriggerFor]="menu">Menu</button>
<mat-menu #menu="matMenu">
  <a mat-menu-item routerLink="/listacumparaturi" class="exButton">Lista cumparaturi
  </a>
  <a mat-menu-item routerLink="/adaugelement" class="exButton">Adaug </a>
  <button mat-menu-item [routerLink]="['/listacumparaturi']" class="exButton">
    Exercise3
  </button>
  <button mat-menu-item [routerLink]="['/adaugelement']" class="exButton">
    Exercise4
  </button>
</mat-menu>
<router-outlet></router-outlet>