<h1>Aplicatie creere liste</h1>
<p> &nbsp; &nbsp;Aplicatia actuala poate sa fie folosita ca un simplu reminder sau poate fi folosita pentru a crea liste
    care pot fi utile in viata de zi cu zi.
</p>
<p>
    &nbsp; &nbsp;Aplicatia are implementata o lista de cumparaturi care permite adaugarea produselor dorite, dar si a
    magazinului
    de unde vreti sa cumparati aceste produse, astfel incat atunci cand ajungeti la un magazin puteti filtra
    in functie de numele magazinului si vedea ce produse ati adaugat pentru acel magazin.

</p>
<p>
    &nbsp; &nbsp;Aplicatia ofera de asemenea utilizatorului optinea de a crea liste noi in functie de nevoile sale. Une
    exemplu
    o astfel de lista este o lista care sa contina numele, autorul, etc, al unor carti pe care doriti sa le cititi,
    sau de care auziti de la prieteni si pe care nu vreti sa le cumparati imediat.
</p>