<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<h1>Aplicatie
    creare liste</h1>
<p> &nbsp; &nbsp;Aplicatia actuala poate sa fie folosita
    ca un simplu reminder sau poate fi folosita pentru a crea liste
    care pot fi utile in viata de zi cu zi.
</p>
<p>
    &nbsp; &nbsp;Aplicatia are implementata o lista de
    cumparaturi care permite adaugarea produselor dorite, dar si a
    magazinului
    de unde vreti sa cumparati aceste produse, astfel incat atunci cand ajungeti la un magazin puteti filtra
    in functie de numele magazinului si vedea ce produse ati adaugat pentru acel magazin.

</p>
<p>
    &nbsp; &nbsp;Aplicatia ofera utilizatorului optiunea de a crea
    liste noi, proprii, in functie de nevoile sale. Spre
    exemplu
    o astfel de lista este o lista care contine numele, autorul, etc, al unor carti
    pe care doriti sa le cititi
    sau de care auziti de la prieteni si pe care nu vreti sa le cumparati imediat.
</p>